<!-- ====== Made With Button Start -->
<a target="_blank" rel="nofollow noopener"
  class="inline-flex items-center gap-[10px] py-2 px-[14px] rounded-lg bg-white dark:bg-dark-2 shadow-2 fixed bottom-20 left-4 sm:left-9 z-[999]"
  href="https://h5.lot-ml.com/ProductEn/Index/1a654e0b341cadd2">
  <span class="text-base font-medium text-dark-3 dark:text-dark-6">
    立即申请
  </span>
  <span class="w-px h-4 block bg-stroke dark:bg-dark-3"></span>
  <span class="block">
    <img src="/assets/logo/5g.svg" alt="5g" class="w-6 h-6 dark:hidden">
    <img src="/assets/logo/5g.svg" alt="5g" class="w-6 h-6 hidden dark:block">
  </span>
</a>
<!-- ====== Made With Button End -->