---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="172"
  title="172号卡订单管理系统"
>
  <!-- 七鱼客服聊天窗口 - 全屏显示 -->
  <div class="w-full mb-12 h-[130vh] pt-16 pb-12"> <!-- 添加了pt-8顶部内边距 -->
    <div class="w-full h-full overflow-hidden">
      <iframe 
        src="https://haoka.lot-ml.com/login.html" 
        width="100%" 
        height="100%" 
        frameborder="0"
        title="登入"
        class="w-full h-full"
        style="min-height: calc(100vh - 200px); width: 100vw;" /* 全屏宽度和高度 */
      ></iframe>
    </div>
  </div>
</Layout>
