  <!-- ====== FunctionReverse 左右侧内容置换 Section-->
  <section class="overflow-hidden bg-white pb-12 pt-20 lg:pb-[90px] lg:pt-[120px] dark:bg-dark">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap items-center justify-between">
        <!-- 文本内容区域 - 现在在左侧 -->
        <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
          <div class="mt-10 lg:mt-0">
            <span class="mb-4 block text-lg font-semibold text-primary">
              172号卡平台
            </span>
            <h2 class="mb-5 text-3xl font-bold text-dark sm:text-[40px]/[48px] dark:text-white">
              运营商官方正品，高速带你飞
            </h2>
            <p class="mb-5 text-base text-body-color dark:text-dark-6">
             运营商金牌合作伙伴，各大主播工作室号卡业务首选
            </p>
            <a href="https://h5.lot-ml.com/ProductEn/Index/1a654e0b341cadd2" 
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-primary px-7 py-3 text-center text-base font-medium text-white hover:bg-primary/90 mr-4">
              立即申请
            </a>
              <a href="https://haoka.lot-ml.com/plugreg.html?agentid=90925"
              target="_blank"
              rel="noopener noreferrer" 
              class="inline-flex items-center justify-center rounded-md border border-transparent bg-primary px-7 py-3 text-center text-base font-medium text-white hover:bg-primary/90">
              代理注册
            </a>
          </div>
        </div>
        
        <!-- 图片区域 - 现在在右侧 -->
        <div class="w-full px-4 lg:w-6/12">
          <div class="-mx-3 flex items-center justify-center sm:-mx-4">
            <div class="w-full px-3 sm:px-4">
              <div class="relative z-10 py-3 sm:py-4">
                <img src="/assets/hero/172_3.png" alt="172"
                  class="w-full rounded-2xl" />
                <span class="absolute -bottom-7 -right-7 z-[-1]">
                  <img src="/assets/about/functionreverse.svg" alt="功能区块装饰" width="134" height="106" loading="lazy" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== FunctionReverse 左右侧内容置换 Section-->